
 <footer class="border-bottom">
  <div class="bg-main-light p-5 py-4">


    <h3>Get the FreshCart app</h3>
    <h6 class="text-muted">
      we will send you a link, open it on your phone to download the app.
    </h6>
  
    <div class="d-flex mt-5">
  
      <input type="email" placeholder="Email..." class="form-control w-100" />
      <button class="btn bg-main text-white w-25 ms-3">Share App Link</button>

    </div>

    <hr>

    <h6 class="text-center">2023 Ziad Yasser ALL Rights Reserved</h6>
  
</div>
 </footer>

